{% extends 'view.html' %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/toc.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/markdown.css') }}" media="screen" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('.static', filename='bower_components/marked/lib/marked.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('.static', filename='js/view.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('.static', filename='js/toc.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div id="markdown" class="markdown hidden">{{ content|safe }}</div>
	<div id="toc" class="bs-docs-sidebar col-xs-1 toc">
		<ul class="nav nav-stacked fixed">
		</ul>
	</div>
{% endblock %}

