{% extends 'bootstrap.html' %}

{# If title and/or content are not specifically defined, auto-load them from the repo object. #}
{% if repo is defined %}
	{% if title is not defined %}
		{% set title = repo.get_title() %}
	{% endif %}
	{% if content is not defined %}
		{% set content = repo.get_content() %}
	{% endif %}
{% endif %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='bower_components/bootstrap-jasny/dist/css/jasny-bootstrap.min.css') }}" media="screen "/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}" media="screen" />
{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('.static', filename='bower_components/bootstrap-jasny/dist/js/jasny-bootstrap.min.js')}}" type="text/javascript"></script>
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-inverse navbar-fixed-top navbar-primary" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('index') }}">PasteGit</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					{% block menu %}
						{% if session.user %}
						<li {{ active_if(active_page == 'new') }}><a href="{{ url_for('new') }}">New Paste</a></li>
						{% endif %}
						<li {{ active_if(active_page == 'list') }}><a href="{{ url_for('list') }}">List Pastes</a></li>
						{% if session.user is defined and not session.user.is_anon %}
							<li><a href="{{ url_for('logout') }}">Logout</a></li>
						{% else %}
							<li><a href="{{ url_for('login') }}">Login</a></li>
						{% endif %}
					{% endblock %}
				</ul>
			</div>
		</div>
	</div>
	{% if repo is defined and (repo.are_owner or repo.commits|length > 1) %}
		<div class="navbar navbar-inverse navbar-fixed-top navbar-secondary" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav narbar-right">
						{% block submenu %}
							<li {{ active_if(active_page == 'view') }}><a href="{{ url_for('view', rid=repo.id, rev=repo.rev.hexsha) }}">View</a></li>
							{% if repo is defined and repo.are_owner %}
								<li {{ active_if(active_page == 'edit') }}><a href="{{ url_for('edit', rid=repo.id) }}">Edit</a></li>
								<li {{ active_if(active_page == 'delete') }}><a href="{{ url_for('delete', rid=repo.id) }}">Delete</a></li>
							{% endif %}
							{% if repo is defined and repo.commits|length > 1 %}
								<li {{ active_if(active_page == 'history') }}><a href="{{ url_for('history', rid=repo.id, rev=repo.rev.hexsha) }}">History</a></li>
							{% endif %}
						{% endblock %}
					</ul>
				</div>
			</div>
		</div>
		<div id="subnav-spacer"></div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container" role="main">
		{% block messages %}
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">{{ message }}</div>
				{% endfor %}
			{% endwith %}
		{% endblock %}

		<div class="page-header">
			<h1>
				{% block title %}
					{{ title }}
				{% endblock %}
			</h1>
		</div>
		
		{% block container %}{% endblock %}
	</div>
{% endblock %}
