{% extends 'base.html' %}

{% set active_page = 'history' %}

{% block title %}
	History of '{{ title }}'
{% endblock %}

{% block container %}
	<table class="table table-striped table-hover rowlink" data-link="row">
		<thead>
			<tr>
				<th>
					Change
				</th>
				<th>
					When
				</th>
			</tr>
		</thead>
		<tbody>
			{% for commit in repo.commits %}
				<tr {{ macros.active_if(repo.rev == commit) }}>
					<td>
						{{ macros.link_to(commit.summary, 'view', rid=repo.id, rev=commit.hexsha) }}
					</td>
					<td>
						{{ commit.committed_date|timedelta }} 
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
