{% extends 'base.html' %}

{% set title = 'Pastes' %}

{% block content %}
	<table class="table table-striped table-hover rowlink" data-link="row">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>
					Author
				</th>
				<th>
					Language
				</th>
			</tr>
		</thead>
		<tbody>
			{% for repo in repos %}
				<tr>
					<td>
						{{ macros.link_to(repo.get_title(), 'view', rid=repo.id) }}
					</td>
					<td>
						{{ repo.owner.name }}
					</td>
					<td>
						{{ repo.language.name }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">
						We don't see to have any pastes yet.
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if pages > 1 %}
		Pages: 
		{% set comma = joiner(',') %}
		{% for p in page|pagination_range(pages) -%}
			{{ comma() }}
			{% if p == page -%}
				{{ p }}
			{%- else -%}
				{{ macros.link_to(p, 'list', page=p) }}
			{%- endif -%}
		{% endfor %}
	{% endif %}
{% endblock %}
