{# Mark something as active when a certain condition is met #}
{% macro active_if(condition) -%}
	{% if condition %}
		class="active" 
	{% endif %}
{%- endmacro %}

{# Create a link to a page #}
{% macro link_to(text, page, class='') -%}
	<a href="{{ url_for(page, **kwargs) }}" class="{{ class }}">{{ text }}</a>
{%- endmacro %}

{# Create a menu item #}
{% macro menu_for(text, icon, page) -%}
	<li {{ active_if(active_page == page) }}>
		<a href="{{ url_for(page, **kwargs) }}">
			<span class="glyphicon glyphicon-{{ icon }}"></span> 
			{{ text }}
		</a>
	</li>
{%- endmacro %}
